version: 2
jobs:
  build:
    docker:
      - image: alpine:3.8
    steps:
      - run:
          command: |
            apk add --no-cache curl tar git openssh-client rsync
      - checkout
      - run:
          command: |
            git submodule init
            git submodule update
            git clone https://${GITHUB_TOKEN}@github.com/asasmoyo/asasmoyo.github.io asasmoyo.github.io

            curl -v -L https://github.com/gohugoio/hugo/releases/download/v$(cat .hugoversion)/hugo_$(cat .hugoversion)_Linux-64bit.tar.gz -o hugo.tar.gz
            mkdir -p hugo
            tar -xzvf hugo.tar.gz -C hugo
            ./hugo/hugo

            git config --global user.email "arba.sasmoyo@gmail.com"
            git config --global user.name "Arba Sasmoyo"

            rsync -av --delete --exclude '.git/' --exclude '.ssh/' "$(pwd)/public/" "$(pwd)/asasmoyo.github.io"
            cd "$(pwd)/asasmoyo.github.io"
            git add --all
            git commit -m "some updates"
            git push origin master
